#chatsTitre {
	position: relative;
	font-weight: bold;
	text-align: center;
	color: var(--third-color);
}


#allSliderChats {

	width: auto;
	height: auto;

	--taille: 100vw;
	--hauteur: 600px;

	--nbElement: 1;
	--marge: 0px;

	--transform: 0;
}

#allSliderPointsChats {
	width: auto;
	height: auto;
	margin-top: 30px;
	
	--taille: 980px;
	--hauteur: 70px;

	--nbElement: 7;
	--marge: 20px;

	--transform: 0;
}



.slidePointChats {
	object-fit: cover;
}

.slideChat {
	background-color: var(--sec-color);
	position: relative;
	display: block;
}


.slideChatSmall {
	background-color: var(--sec-color);
	position: relative;
	display: none;
}


#containerButtonAjoutChat {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}
#buttonAjoutChat{
	margin: 20px 0px 20px 0px;
	
}

#formAjoutChat {
	opacity: 0;
	display: none;
}

#formSupprimerChat {
	opacity: 0;
	display: none;
}

#svgFilter{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}


/*------------------------------------------------------------------------*/
/*                               Slider photo                             */
/*------------------------------------------------------------------------*/


.inputFile {
	position: relative;
	flex-direction: column!important;
	align-items: center;
}

.inputFile > * {
	margin: 5px;
	z-index: 3;
	color: rgb(100, 100, 100);
}


#allSliderPhoto {
	margin: 20px 0 0 0;
	z-index: 2;

	--taille: 400px;
	--hauteur: 80px;

	--nbElement: 4;
	--marge: 10px;

	--transform: 0;
}

.labelAllSlider {
	font-size: 100%;
    position: absolute;
    left: 0;
    top: calc(5px + 0.3em);
	z-index: 3;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
	
    margin: 0em;
    margin-left: calc(50px + 1.3em);
    padding: 0 0.4em;
    background-color: inherit;


}


#sliderPhoto {
	z-index: 2;
	height: calc(var(--hauteur) + 20px);
	border-radius: 15px;
	border: solid 2px rgb(200, 200, 200);
}


.slidePhoto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 10px 0px;
	position: relative;
	z-index: 3;
}

.slidePhoto .delete-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	border: none;
	background-color: rgb(255, 108, 108);
	color: #fff;
	padding: 5px 10px;
	border-radius: 0 0 0 10px;
	font-size: 10px;
	cursor: pointer;
}


/*------------------------------------------------------------------------*/
/*                                 Filtre                                 */
/*------------------------------------------------------------------------*/




#menuFiltre {
	display: none;
	position: absolute;
	top: 70px;
	right: -300px;
	bottom: 100px;
	z-index: 2;
	width: 300px;
	background-color: var(--sixth-color);
	padding: 10px;
	transition: transform 0.3s ease;
	overflow: scroll;
}


#filtreTitre {
	margin: 30px 0px 50px 0px;
	font-size: 25px;
	font-family: "Roboto",sans-serif;

}

.filtre {
	font-family: "Roboto",sans-serif;
	margin: 40px 15px;

}

.filtreTitre {
	font-size: 25px;
}

.filtreContent {
	margin: 20px 10px;
	font-size: 20px; 
}

.filtreAgeBox {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.filtreAgeBox > input{
	text-align: center;
	margin: 8px 10px;
	width: 40px !important;
	font-size: 15px !important; 
	border-color: #666 !important;

}


/*------------------------------------------------------------------------*/
/*                                 Checkbox                              */
/*------------------------------------------------------------------------*/

.checkbox {
	position: relative;
	display: block;
	cursor: pointer;
	width: fit-content;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
	user-select: none;
  }
  
  .checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkmark {
	position: absolute;
	top: 3px;
	left: 3px;
	height: 20px;
	width: 20px;
	border: 2px solid #666;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .checkbox:hover .checkmark {
	transform: translateX(-20px) translateY(-2px) rotate(10deg);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .checkbox input:checked ~ .checkmark {
	background-color: #666;
	border-color: #666;
  }
  
  .checkbox input:checked ~ .checkmark:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 14px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .text {
	margin-left: 40px;
	display: inline-block;
	transition: all 0.2s ease-in-out;
  }
  






/*------------------------------------------------------------------------*/
/*                                 Recherche                              */
/*------------------------------------------------------------------------*/

#formRechercheChats {
	margin: 10px auto;
	width: clamp(200px, 80%, 400px);
	font-size: 20px;
	background-color: var(--main-color);
}

#zeroChat {
	display: none;
	font-size: 40px;
	margin: 100px;
}