#chatsTitre {
	position: relative;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: var(--third-color);
}


#allSliderChats {

	width: auto;
	height: 100%;

	--taille: 100vw;
	--hauteur: 600px;

	--nbElement: 1;
	--marge: 0px;

	--transform: 0;
}

.slideChat {
	background-color: var(--sec-color);
	position: relative;
	display: block;
}

@media (max-width: 850px) {
	.slideChat {
		display: none;
	}
	
}


.slideChatSmall {
	background-color: var(--sec-color);
	position: relative;
	display: none;
}

@media (max-width: 850px) {
	.slideChatSmall {
		display: block;
	}
	
}



#containerButtonAjoutChat {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

}
#buttonAjoutChat{
	margin: 20px 0px 20px 0px;
	
}

#formAjoutChat {
	opacity: 0;
	display: none;
}

#formSupprimerChat {
	opacity: 0;
	display: none;
}

#svgFilter{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}


/*------------------------------------------------------------------------*/
/*                               Slider photo                             */
/*------------------------------------------------------------------------*/


.inputFile {
	position: relative;
	flex-direction: column!important;
	align-items: center;
}

.inputFile > * {
	margin: 5px;
	z-index: 3;
	color: rgb(100, 100, 100);
}


#allSliderPhoto {
	margin: 20px 0 0 0;
	z-index: 2;

	--taille: 400px;
	--hauteur: 80px;

	--nbElement: 4;
	--marge: 10px;

	--transform: 0;
}

.labelAllSlider {
	font-size: 100%;
    position: absolute;
    left: 0;
    top: calc(5px + 0.3em);
	z-index: 3;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
	
    margin: 0em;
    margin-left: calc(50px + 1.3em);
    padding: 0 0.4em;
    background-color: inherit;


}


#sliderPhoto {
	z-index: 2;
	height: calc(var(--hauteur) + 20px);
	border-radius: 15px;
	border: solid 2px rgb(200, 200, 200);
}


.slidePhoto img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px 10px 10px 0px;
	position: relative;
	z-index: 3;
}

.slidePhoto .delete-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
	border: none;
	background-color: rgb(255, 108, 108);
	color: #fff;
	padding: 5px 10px;
	border-radius: 0 0 0 10px;
	font-size: 10px;
	cursor: pointer;
}


/*------------------------------------------------------------------------*/
/*                                 Filtre                                 */
/*------------------------------------------------------------------------*/




#menuFiltre {
	display: none;
	position: absolute;
	top: 70px;
	right: -300px;
	bottom: 0;
	z-index: 2;
	width: 300px;
	background-color: var(--sixth-color);
	transition: transform 0.3s ease;
}

