#pageContent {
	overflow: hidden;
}

#allConnexion{
	width: fit-content;
	background-color: var(--sec-color);
	border-radius: 12px;
	position: relative;
	margin: 50px auto 50px auto;
	display: flex;
	flex-direction: row;
	z-index: 0;
}

@media  (max-width: 750px) {
	#allConnexion {
		flex-direction: column;
	}
}

#allConnexion > div{
	width: 350px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: inherit;
}

#allConnexion > div > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
}

#allConnexion > div > div {
	margin-bottom: 15px;
}

#allConnexion > div > form > .group {
	margin: 10px 0 10px 0;
}

#titreRegister, #titreLogin {
	font-size: 30px;
}


#switchLoginRegister {
	width : 350px;
	height: 100%;
	position: absolute;
	display:flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 350px;
	z-index: 2;
	background-color: var(--third-color) !important;
	overflow: hidden;
	
}


#textSwitchLoginRegister{
	width: 250px;
	text-align: justify;
	font-size: 15px;
	color: var(--main-color);
	margin: 20px 0 20px 0;
}


#buttonSwitchLoginRegister{
	width: 150px;
	border: solid 1px white;
	border-radius: 46px;
	color: var(--main-color);
	font-size: 20px;
	margin: 20px 0 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


#buttonSwitchLoginRegister:hover{
	cursor: pointer;
	background-color: white;
	color: var(--third-color);
}



#previewPhotoDeProfil {
	width: 100px;
	height: 100px;
	margin: 20px auto 10px auto;
}


#patteConnexion {
	max-height: calc(100% - 270px);
}