#conseils{
    background-color: var(--second-color);
    margin-bottom: 2vw;
}

.conseilTitre{
	font-size: 50px;
	font-weight: bold;
	color: var(--third-color);
    margin-left: 10vw;
    margin-top: 5vw;
}

.conseilText{
    margin-left: 10vw;
    margin-top: 2vw;
    width: 300px;
    height: 300px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100px;
    border: 3px solid var(--third-color);
    transition: border-color 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.conseilText:hover{
    border-color: var(--fifth-color);
    transform: scale(1.1);
}

#image{
    width: 30%;
    height: 30%;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    clip-path:ellipse(33% 50%);
    float: right;
}


.label-fiche {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}

.label-fiche:hover {
    color: #25a5c4;
}

.input-fiche {
    display: none;
}