#container {
    position: relative;
    padding: 30px;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; 
    cursor: pointer;

}

#container > div {
    --position : 0;
    position: relative;
    margin: 25px 0px;
    padding: 15px;
    height: 150px;
    width: 100%;
    font-size: 17px;
    border-radius: 100px;
    box-sizing: border-box;
    transition-duration: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fourth-color);   
}

#container > div:hover {
    transform: scale(1.1);
    background-color: var(--third-color);
}

#container > div:not(:last-child)::after {
    
    content: "";
    position: absolute;
    top: 100%;
    left: var(--position);
    width: 30px;
    height: 60px;
    background-color: var(--fourth-color);

}



#container > div > a{
    display: flex;
    
}


.conseil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.conseil > titreConseil


/***********************************************************/
/*                        Rechercher                       */
/***********************************************************/

#rechercher {
    padding: 10px 50px;
}

#rechercher > form {
    margin: 0px auto;
	width: clamp(200px, 80%, 400px);
	font-size: 20px;
	background-color: var(--main-color);
}