#allFormulaireAdoption {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	margin: 50px 250px 0 250px;
	z-index: 1;
	padding : 1% 1%;
}


#titreFormulaireAdoption{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color:var(--fifth-color);
	background-color: var(--main-color);
	z-index: 1;
	position: relative;
}

#allFormulaireAdoption > form > input {
	margin: 4% 0 4% 0;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#lienFormulaireAdoption{
	color: var(--third-color);
}

#submitFormulaireAdoption{
	margin: 4% 0 4% 0;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 10;
	position: relative;
}

#checkboxFormulaireAdoption{
	width: 15px;
	height: 15px;
}

.group{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-color);
	margin: 25px 0 25px 0;
}
#infoPerso .group{
	width: 100%;
	font-size: 18px;
	margin: 8% 0 8% 0;
}
#allFormulaireAdoption > form{
	background-color: inherit;

}

.titre{
	font-size: 30px;
	margin-top: 2%;
	cursor: default;
	font-family: "Roboto",sans-serif;
	color: var(--third-color);
	z-index: 1;
	position: relative;
	background-color: var(--main-color);
	width: fit-content;
}
#infoPerso{
	display: flex;
	background-color: inherit;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
	align-content: center;
}

.p1,.p2{
	width: 40%;
}
#coche{
	display: flex;
	background-color: inherit;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
	align-content: center;
}
/*------------------------------------------------------------------------*/
/*                                 Checkbox                              */
/*------------------------------------------------------------------------*/

.checkbox {
	position: relative;
	display: block;
	cursor: pointer;
	width: fit-content;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
	user-select: none;
  }
  
  .checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkmark {
	position: absolute;
	top: 3px;
	left: 3px;
	height: 20px;
	width: 20px;
	border: 2px solid rgb(200,200,200);
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: var(--main-color);
  }
  
  .checkbox:hover .checkmark {
	transform: translateX(-20px) translateY(-2px) rotate(10deg);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .checkbox input:checked ~ .checkmark {
	background-color: #666;
	border-color: #666;
  }
  
  .checkbox input:checked ~ .checkmark:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 14px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .text {
	margin-left: 40px;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	color: var(--third-color);
	z-index : 1;
	position : relative;
  }

  .textP {
	margin-left: 40px;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	font-size: 16px;
	color: rgb(100,100,100);
	z-index : 1;
	position : relative;
  }

  .patteFormulaireAdoption{
	z-index: 0;
  }

/*------------------------------------------------------------------------*/
.chatContainer {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
	border: rgb(200,200,200) solid 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: var(--main-color);
	z-index: 1;
	position: relative;
}

.chatContainerlike {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
	border: rgb(200,200,200) solid 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	z-index: 1;
}

.conteneurDeConteneurDePattes{
	z-index: 0;
}
.patteContainer{
	z-index:0;
}
.chatImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.chatTexte {
    margin-top: 10px;
    font-size: 18px; /* Ajustez cette valeur selon vos besoins */
}

	
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  .container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	transition: 100ms;
	background-color: #666;
  }

  .container input:checked ~ .checkmark path {
	fill: #FF5353;
	stroke-width: 0;
  }
  
  .container input:checked ~ .checkmark {
	animation: like_effect 400ms ease;
  }
  
  .container:hover {
	transform: scale(1.1);
  }
  
  #conteneurChats {
	position: relative;
	z-index: 1;
  }


  @keyframes like_effect {
	0% {
	  transform: scale(0);
	}
  
	50% {
	  transform: scale(1.2);
	}
  
	100% {
	  transform: scale(1);
	}
  }
  
  @keyframes dislike_effect {
	0% {
	  transform: scale(0);
	}
  
	50% {
	  transform: scale(1.2);
	}
  
	100% {
	  transform: scale(1);
	}
  }
  