#allFormulaireAdoption {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	margin: 50px auto 0 auto;
	z-index: 0;
	padding : 1% 1%;

}


#titreFormulaireAdoption{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

#allFormulaireAdoption > form > input {
	margin: 4% 0 4% 0;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#lienFormulaireAdoption{
	color: var(--third-color);
}

#submitFormulaireAdoption{
	margin: 4% 0 4% 0;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#checkboxFormulaireAdoption{
	width: 15px;
	height: 15px;
}

.group{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 10px 0;
}

#allFormulaireAdoption > form{
	background-color: inherit;

}

#infoPerso{
	background-color: inherit;
}