
/* HEADER */

#allHeader {
	height: 70px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	transition: height 0.3s ease-in-out;

}

header {
	top: 0;
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	

}

header > div {
	display: flex;
	justify-content: center;
	margin: 0px 10px 0px 10px;
	align-items: center;

}



#nomAsso {
	text-decoration: none;
	font-size: 30px;
	color: black;
	transition: 0.3s;
	height: auto;
	padding: 0;
	margin: 0 0 0 60px;
}

@media screen and (max-width: 800px) {
	#nomAsso {
		font-size: 25px;
	}
}
	


#nomAsso::before {
	background-image: url("../ressources/logo.png");
	background-size: 60px 50px;
	width: 60px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: -6px;
	left: -60px;
	content: "";
}


#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLink{
	position: relative;
	text-decoration: none;
	padding: 0 15px 0 15px;
	font-size: 15px;
	color: black;
	
	height: 50px;
	transition: 0.3s;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease;
    background-color: var(--fifth-color);
}

.navLink:hover {
	color: var(--fifth-color);
} 

.navLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



#nav > a.policeTexte {
	/* je veux que mon texte soit au milieu de la box en hauteur*/
	display: flex;
	justify-content: center;
	align-items: center;

}


#nav2 {
	width: 100vw;
	height: 100vh;
	background-color: var(--main-color);

	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#nav2 a {
	border-top: none;
	padding-left: 20px;
	background-color: white;
	display: flex;
	align-items: center;
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: var(--fifth-color);
	text-decoration: none;
	height: 70px;
	/* reduire la hauteur des lettres */

}


#photoDeProfil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0 15px 0 15px;
	cursor: pointer;
}

#profil {
	/*je veux que cette div soit juste en dessous de la photo de profil mais ne perturbe pas le reste du header*/
	display: none;
	position: fixed;
	z-index: 5;
	top: 82px;
	right: 15px;
	width: 200px;
	height: auto;
	background-color: var(--sec-color);
	/*clip-path: polygon(0% 4%, 86% 4%, 90% 0%, 94% 4%, 100% 4%, 100% 100%, 0% 100%);*/
	box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.5);
}

#triangleUp {
	width: 0;
	height: 0;
	position: absolute;
	top: -10px;
	right: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--sec-color);
	filter: drop-shadow(0 -2px 1px rgb(0, 0, 0, 0.2));
	box-sizing: border-box;
}

#profil > hr {
	border: 0px;
	border-bottom: 1px solid rgb(0, 0, 0, 0.2);

	margin: 0;
}


.profileSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
	font-family: inherit;
	text-decoration: none;
	color: black;
	transition: 0.3s;
}

.profileSection:hover {
	background-color: var(--third-color);
}

.profileSection > img {
	transition-duration: 0.3s;
	width: 20px;
	height: 20px;
}

#connexion {
	width: 120px;
	height: 40px;
	margin: 0 10px;
	border-radius: 45px;
	background-color: var(--fourth-color);
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration:  none;
}

@media (max-width: 400px) {
	#connexion {
		width: 80px;
		padding: 0 5px;
		margin: 0;
		font-size: 12px;

	}
}




/* MENU DEROULANT */

.bar {
	position: relative;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 10px;
}

.bar > span {
	position: absolute;
	width: 35px;
	height: 5px;
	background: var(--third-color);
	border-radius: 100px;
	display: inline-block;
	transition: 0.3s ease;
	left: 0;
}

.bar > span.top {
	top: 0;
}

.bar > span.middle {
	top: 13px;
}

.bar > span.bottom {
	bottom: 0;
}

.bar.checked > span.top {
	transform: rotate(45deg);
	transform-origin: top left;
	width: 36px;
	left: 5px;
}

.bar.checked > span.bottom {
	transform: rotate(-45deg);
	transform-origin: top left;
	width: 37px;
	bottom: -1px;
}

.bar.checked > span.middle {
	transform: translateX(-20px);
	opacity: 0;
}

#menuDeroulant {
	display: none;
}

@media screen and (max-width: 1200px) {
	#nav {
		display: none;
	}
	#menuDeroulant {
		display: block;
	}
    
}

