html, body {
  height : 100%;
  width: 100%;
}


body {
  
  background-repeat: no-repeat;
  margin: 0;
}


.flip-card {
    background-color: transparent;
    width: 455px;
    height: 656px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 100px 20px 100px 20px;

  }
  
.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--sixth-color);
    border-radius: 1rem;
  }
  
.flip-card-front {
    background: var(--main-color);
    color: var(--third-color);
  }
  
.flip-card-back {
    background: var(--main-color);
    color: var(--third-color);
    transform: rotateY(180deg);
  }

.container {
    width: 100%;
    height: calc(100% - 70px);
    box-sizing: border-box;
    align-items:center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
  }

  .petitTxt {
    font-size: 1em;
    font-weight: 900;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin: 15%;
    
  }

/* pour les écrans de petite taille */
@media (max-width: 1210px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .flip-card {
    margin-bottom: 50px;
  }

  html, body {
    height : auto;
    width: 100%;
  }
}

