
  .contour{
    position: relative;
    top: 10%;
    left: 2%;
    height: 90%;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-flow: row wrap;
  }

  .contour > *  {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .info > * > .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5%;
  }

  .titre {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 1px 30px 4%;
    cursor: default;
  }

  .pdp {
    cursor: default;
  }
  
  .mdp > * > .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
  }

  .mail > * > .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
  }

  .buttonType{
    margin-top: 5%;

  }

  #photoDeProfil.photoProfil{
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor : default;
  }

  .mdpMailGestion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-grow: 2;
    margin-top: 5%;
  }
  
  .gestion{
    flex-grow: 3;
  }
  .mdp{
    flex-grow: 1;
    width: 45%;
    min-width: 300px;
    margin: 0 2%;
  }
  .mail{
    flex-grow: 1;
    width: 45%;
    min-width: 300px;
    margin: 0 2%;
  }