/********************************************************************/
/***************************  GENERALE  *****************************/
/********************************************************************/


#pageContent {
    background-color: inherit;
}


.contour {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: inherit;
    
}


.contour > * {
    margin: 30px 5% 0 5%;
    background-color: inherit;
    z-index: 2;
}


.titre {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 1px 30px 4%;
}


#photoDeProfil.photoProfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

#photoDeProfil.photoGestion {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: default;
}


.buttonType {
    margin-top: 25px;
}




/********************************************************************/
/***************************  PROFIL  ******************************/
/********************************************************************/

.pdpInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}

.info > .group {
    margin-top: 5%;
}



/********************************************************************/
/***************************  GESTION  ******************************/
/********************************************************************/

.mdpMailGestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.mdpMailGestion .group:not(:first-child) {
    margin-top: 25px;
}

.mdpMailGestion > * {
    width: 45%;
    min-width: 300px;
    margin: 0 15px;
    background-color: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.mdpMailGestion > * > form{
    width: 100%;
    display: flex;
    flex-direction: column;
}








/********************************************************************/
/***************************  UTILISATEURS  *************************/
/********************************************************************/



.gestion {
    width: 100%;
    margin: 50px 0;
}

.gestion > .titre {
    display: flex;
    flex-direction: row;

}

.utilisateurs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.utilisateur {
    border-radius: 50px;
    border-color: var(--sixth-color);
    border-style: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 15px 15px;
    margin: 10px 10px;
}

.utilisateur .buttonType {
    margin-top: 0!important;
}

.perso{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}



#formRechercheUser {
    max-width: 450px;
}

.role-1 {
    color: rgb(255, 215, 0);
}

.role-2 {
    color: var(--third-color);
}

.buttonNoHover {
    opacity: 0.5;
    cursor: default!important;
}

.buttonNoHover:hover {
    border-color: rgb(200,200,200)!important;
    transform: none!important;
}



/********************************************************************/
/***************************  INFOS  ********************************/
/********************************************************************/

#i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    border: solid rgb(100, 100, 100) 1px;
    color: rgb(100, 100, 100);
    margin: 2px 5px;
}

#i:hover {
    color: var(--third-color);
    border-color: var(--third-color);
}

/* Popup infos */
#popupInfos {
    display: none;
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: var(--sec-color);
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 15px;
    z-index: 11;
}

#popupInfos ul {
    padding-left: 25px;
}

