
  .contour{
    position: relative;
    top: 10%;
    left: 2%;
    height: 90%;
    width: 96%;
    background-color: var(--fourth-color);
    border-radius: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-flow: row wrap;
  }

  .contour > *  {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .info > * > .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5%;
  }

  .titre {
    font-size: 30px;
    font-weight: bold;
    margin: 5% 1px 5% 7%;
    cursor: default;
  }
  .pdp {
    cursor: default;
  }
  .mdp > * > .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
  }

  .mail > * > .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
  }

  .buttonType{
    margin-top: 5%;

  }

  #photoDeProfil.photoProfil{
    margin-left: 5%;
    width: 45%;
    height: auto;
    cursor : default;
  }