.qsnContent{
    width: 50vw;
}

.qsnTitre{
    font-size: 3vw;
    margin-bottom: 1vw;
}

.qsnCadre{
    background-color: var(--third-color);
    padding: 5vw;
}

.svg{
    width: 5vw;
    height: 5vw;
    margin: 1vw;
}

.qsnTexte{
    font-size: 1vw;
}

img{
    border-radius: 10%;
}

.qsnStats {
    border-radius: 10vw;
    width: 20vw;
    border-color: var(--third-color);
    border-style: solid;
    border-width: 0.5vw;
    font-size: 1.25vw;
    font-weight: bold;
}
.qsnStats:hover{
    background-color: var(--third-color);
    color: var(--main-color);
    cursor: pointer;
    box-shadow: 0.2vw 0.2vw 0.2vw black;
    transition-duration: 0.4s;
}
