
/* VARIABLE */

:root {
	--main-color: #FFFFFF;
	--sec-color: #F6F6FC;
	--third-color: #83BCF2;
	--fourth-color: #CDE4FA;
	--fifth-color: #1486f2;
}
/*
@font-face {
	font-family: "Amatic SC";
	src: url("./ressources/font/Amatic_SC/Roboto-Regular.ttf") format("truetype"), 
		url("./ressources/font/Amatic_SC/Roboto-bold.ttf") format("truetype");
  }
  

@font-face { 
	font-family: "AmaticSC"; 
	src: url('./ressources/font/Amatic_SC/Roboto-Regular.ttf') format("truetype"), 
		url('./ressources/font/Amatic_SC/Roboto-bold.ttf') format("truetype"); 
}

@font-face { 
	font-family: "Roboto"; 
	src: url('./ressources/font/Roboto/Roboto-Regular.ttf'); 
}
*/


/* GENERAL */

body{
	position: relative;
	background: var(--main-color);
	height: 100%;
	color: black;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.policeTitre {
	font-family: "Amatic SC",cursive;
}

.policeTexte {
	font-family: "Roboto",sans-serif;
	
}

.tailleTitre {
	font-size: 50px;
}

.ombre {
	box-shadow:  10px 10px 24px #A6B4C8,
				-12px -12px 20px #FFFFFF;
}

.ombreDrop {
	-webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}







/* CSS COMMUN POUR TOUT LES SLIDERS */

.allSlider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	position: relative;
	overflow: hidden;
	width: calc(var(--taille));
	height: calc(var(--hauteur) + 35px);
}

.slides {
	overflow: hidden;
	display: flex;
	transform: translatex(calc( var(--transform) * (var(--taille)/ var(--nbElement)) ));
	transition: 0.5s;
	width: fit-content;
	height: auto;
}

.slide {
	position: relative;
	width: calc((var(--taille))/ var(--nbElement) - var(--marge) * 2);
	max-width: var(--tailleMax);
	margin: 10px var(--marge);
	height: var(--hauteur);
}



.flecheGauche, .flecheDroite {
	position: absolute;
	
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	z-index: 2;
	border-radius: 50%;
	background-color: rgb(200, 200, 200, 0.3);
}

.flecheGauche:hover, .flecheDroite:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200, 0.5);
}

.flecheGauche > svg, .flecheDroite > svg {
	transform: scale(0.5);
}

.flecheGauche {
	left: 5px;
}

.flecheDroite {
	right: 5px;
}



.sliderPoints {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	width: 100%;
}

.slidePoint {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px 0 5px;
	transition: 0.5s;
}

.slidePointSelected {
	background-color: black;
}

.clickable {
	transition: 0.3s;
}


.clickable:hover {
	cursor: pointer;
	transform: scale(1.1);
}














/* QUI SOMMES NOUS ? */
.qsn {
	display: flex;
	justify-content: space-around;
	margin: 5% 0;
}

.qsn a {
	width: 20%;
}

.qsn a img{
	width: 100%;
}

.qsnContent{
	vertical-align: auto;
}

.qsnStats{
	vertical-align: auto;
	text-align: center;
}










/* formulaireAdoption */












.champTextarea {
	width:100%;
	height: 100px;
	border: 1px solid rgb(166, 166, 166);
	padding: 10px 0 0 0;
	margin-top: 5px;
	font-size: 16px;
	color: black;
	background-color: white;
	resize: none;
}


.editButton {
	width: 50px;
	height: 50px;
	transition-duration: .3s !important;
	
}

.editButton:hover {
	cursor: pointer;
	fill: var(--third-color);
}

svg {
	transition: inherit;
	fill: inherit;
	width: inherit;
	height: inherit;
}

g {
	transition: inherit;
	fill: inherit;
}



/* input text */




/* input date */
  
  .sd {
	padding: 5px 10px;
	height: 30px;
	width: 200px;
	border: none;
	border-bottom: 1px solid #515151;
	background-color: transparent;
  }
  
  .open-button {
	position: absolute;
	top: 10px;
	right: 11px;
	width: 25px;
	height: 25px;
	pointer-events: none;
	
  }
  
  .open-button button {
	border: none;
	background: transparent;
  }

  .sd:focus {
	outline: none;
	box-shadow: inset 0 -2px 0 var(--third-color);
	transition: box-shadow 0.3s ease-in-out;
  }

/* input checkbox */

/* The switch - the box around the slider */






.check{
	width: 220px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	
	font-size: 18px;
	color:#cacaca;
}




.file-input {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 10px;
  }
  
  .file-input input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2;
  }
  
  .file-input label {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	z-index: 1;
  }
  
  .file-input label:hover {
	background-color: var(--secondary-color);
  }



  .buttonHideForm {
	position: absolute;
	top: -15px;
	left: -15px;
	width: 30px;
	height: 30px !important;
	border-radius: 50%;
	background-color: var(--main-color);
	text-align: center;
	align-items: center;

}




.svgBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.svg {
	display: inline-block;
	margin: 15px 15px 0px 15px;
	cursor: pointer;
}

.svg > svg{
	fill: rgb(100, 100, 100);
	transition: 0.3s;
}

.svg:hover > svg{
	fill: var(--third-color);
}



.patteContainer {
	width:100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
	left : 50%;
	top : 50%;
	position: absolute;
}


.patte {
	width: 20px;
	height: 20px;
	position: absolute;
}

.conteneurDeConteneurDePattes {
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 70px;
}